{% extends 'client.html' %} 
{% block content %}
	<div class="container">
		<div class="header"><h3> Government School</h3></div>
		<table class="table table-hover">
			<tr>
				<th> School Name</th>
				<th> School code </th>
				<th>schooling</th>
				<th>school gender</th>
				<th>street</th>
				<th>suburb</th>
				<th>postcode</th>
				<th>attendence rate</th>
				<th>entry score</th>
			</tr>
			{% if schools %}
				{% for school in schools %}
				<tr>
					<td>{{ school }}</td>
					<td>{{ schools[school]['code'] }}</td>
					<td>{{ schools[school]['schooling'] }}</td>
					<td>{{ schools[school]['school gender'] }}</td>
					<td>{{ schools[school]['street'] }}</td>
					<td>{{ schools[school]['suburb'] }}</td>
					<td>{{ schools[school]['postcode'] }}</td>
					{% if schools[school]['attendence rate'] %}
					<td><a href="attenedce.html">see more details</td>
					{% else %}
					<td>&nbsp;</td>
					{% endif %}
					{% if schools[school]['entry score'] %}
					<td><a href="attenedce.html">see more details</td>
					{% else %}
					<td>&nbsp;</td>
					{% endif %}
				</tr>
				{% endfor %}
			{% endif %}
		</table>
	</div>
{% endblock %}