{% extends 'client.html' %} 
{% block content %}
	<div class="container">
		<div class="header"><h3> Non-government School</h3></div>
		<table class="table table-hover">
			<tr>
				<th> School Name</th>
				<th>schooling</th>
				<th>school gender</th>
				<th>street</th>
				<th>suburb</th>
				<th>postcode</th>
			</tr>
			{% if schools %}
				{% for school in schools %}
				<tr>
					<td>{{ school }}</td>
					<td>{{ schools[school]['schooling'] }}</td>
					<td>{{ schools[school]['school gender'] }}</td>
					<td>{{ schools[school]['street'] }}</td>
					<td>{{ schools[school]['suburb'] }}</td>
					<td>{{ schools[school]['postcode'] }}</td>
				</tr>
				{% endfor %}
			{% endif %}
		</table>
	</div>
{% endblock %}