{% extends 'client.html' %} 
{% block private %}
	<h3>Public School Only </h3>
{%endblock%}

{% block public %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {
	'packages':['map'],
	'mapsApiKey': 'AIzaSyDAkguZ-aHXwBGG4E79WDbSHsocwLIyeOU'
	});
	google.charts.setOnLoadCallback(drawmap);
	function drawmap() {
		var location_list= {{locations|tojson}}
		var data = google.visualization.arrayToDataTable( location_list);
		var options = {
		zoomLevel: 10,
		showTooltip: true,
		showInfoWindow: true
		};
		var map = new google.visualization.Map(document.getElementById('map_markers_div_gov'));
		map.draw(data, options);
	}
</script>


	<div class="container">
		<div class="col-md-7">
			<table class="table table-hover ">
				<tr>
					<th>Name</th>
					<th>Gender</th>
					<th>Street</th>
					<th>AR</th>
					<th>ES</th>
				</tr>
				{% if schools %}
					{% for school in schools %}
					<tr>
						<td >
						<button class="btn btn-xs " id="info-btn" style="background:none" data-toggle="modal" data-target="#{{schools[school]['count']|replace('a','b')}}" >
							{{ school }}
						</button>
						{% if schools[school]['disable_support'] %}
							<span class="glyphicon glyphicon-heart" ></span>
						{% endif %}
						<div class="modal fade" id="{{schools[school]['count']|replace('a','b')}}" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											&times;
										</button>
										<h4 class="modal-title" id="Label">
											{{school}} 
										</h4>
									</div>
									<div class="modal-body">
										<table class="table table-hover">
										<tbody>
										<tr>
										  <td><strong>Schooling</strong></td>
										  <td>{{schools[school]['schooling']}}</td>
										</tr>
										<tr>
										  <td><strong>Address</strong></td>
										  <td>{{schools[school]['street']}},{{schools[school]['suburb']}},NSW,{{schools[school]['postcode']}}</td>
										</tr>
										{% if schools[school]['phone'] %}
										<tr>
										  <td><strong>Phone</strong></td>
										  <td>{{schools[school]['phone']}}</td>
										</tr>
										{% endif %}
										{% if schools[school]['school email'] %}
										<tr>
										  <td><strong>Email</strong></td>
										  <td>{{schools[school]['school email']}}</td>
										</tr>
										{% endif %}
										{% if schools[school]['fax'] %}
										<tr>
										  <td><strong>Fax</strong></td>
										  <td>{{schools[school]['fax']}}</td>
										</tr>
										{% endif %}
										{% if schools[school]['student number'] %}
										<tr>
										  <td><strong>Student Number</strong></td>
										  <td>{{schools[school]['student number']}}</td>
										</tr>
										{% endif %}
									  </tbody>
									</table>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close
									</button>
								</div>
							</div>
						</div>
						
						</td>
						<td>{{ schools[school]['school gender'] }}</td>
						<td>{{ schools[school]['street'] }}</td>
						<td>
						{% if schools[school]['attendence rate'] %}
						<button class="btn btn-sm " id="rate-btn" data-toggle="modal" data-target="#{{schools[school]['count']}}" >
							<span class="glyphicon glyphicon-stats" ></span>
						</button>
						<div class="modal fade" id="{{schools[school]['count']}}" tabindex="-1" role="dialog" aria-labelledby="Label1" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											&times;
										</button>
										<h4 class="modal-title" id="Label1">
											{{school}} 
										</h4>
									</div>
									<div class="modal-body">
										<div id="curve_chart+{{school}}" style="width: 700px; height:400px"></div>
										<script type="text/javascript">
											google.charts.load('current', {'packages':['corechart']});
											google.charts.setOnLoadCallback(drawChart);
											
											function drawChart() {
												var attence_list={{schools[school]['attendence rate']|tojson}}
												var data = google.visualization.arrayToDataTable(attence_list);
												var options = {
												  title: 'Attendence Rate',
												  curveType: 'function',
												  legend: { position: 'bottom' },
												  height:400,
												  width:580

												};
												var chart = new google.visualization.LineChart(document.getElementById('curve_chart+{{school}}'));
												chart.draw(data, options);
											  }
										</script>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close
									</button>
								</div>
							</div>
						</div>
						{%else%}
						   -
						{% endif %}
						</td>
						<td>
						{% if schools[school]['entry score'] %}
						<button class="btn btn-sm " id="btn-entry" data-toggle="modal" data-target="#{{schools[school]['count']|replace('a','c')}}" >
							<span class="glyphicon glyphicon-stats" ></span>
						</button>
						<div class="modal fade" id="{{schools[school]['count']|replace('a','c')}}" tabindex="-1" role="dialog" aria-labelledby="Label3" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											&times;
										</button>
										<h4 class="modal-title" id="Label3">
											{{school}} 
										</h4>
									</div>
									<div class="modal-body">
										<div id="curve_chart_entry+{{school}}" style="width: 700px; height:400px"></div>
										<script type="text/javascript">
											google.charts.load('current', {'packages':['corechart']});
											google.charts.setOnLoadCallback(drawentry);
											
											function drawentry() {
												var entry={{schools[school]['entry score']|tojson}}
												var data = google.visualization.arrayToDataTable(entry);
												var options = {
												  title: 'entry score',
												  curveType: 'function',
												  legend: { position: 'bottom' },
												  height:400,
												  width:580

												};
												var chart = new google.visualization.LineChart(document.getElementById('curve_chart_entry+{{school}}'));
												chart.draw(data, options);
											  }
										</script>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close
									</button>
								</div>
							</div>
						</div>
						{%else%}
						   -
						{% endif %}
						</td>
					</tr>
					{% endfor %}
				{% endif %}
			</table>
		</div>

		<div class="col-md-5 pull-right" id="map_markers_div_gov" style="width: 400px; height: 400px"></div>
	</div>

{% endblock public%}
