{% extends 'client.html' %} 
{% block private %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {
	'packages':['map'],
	'mapsApiKey': 'AIzaSyDAkguZ-aHXwBGG4E79WDbSHsocwLIyeOU'
	});
	google.charts.setOnLoadCallback(drawChart_private);
	function drawChart_private() {
		var location_list= {{locations2|tojson}}
		var data = google.visualization.arrayToDataTable( location_list);
		var options = {
		showTooltip: true,
		showInfoWindow: true
		};
		var map = new google.visualization.Map(document.getElementById('map_markers_div'));
		map.draw(data, options);
	}
	
</script>

	<div class="container">
		<div class="col-md-7">
			<table class="table table-hover">
				<tr>
					<th>Name</th>
					<th>Gender</th>
					<th>Street</th>
					<th>AR</th>
					<th>ES</th>
				</tr>
				{% if schools2 %}
					{% for school in schools2 %}
					<tr>
						<td>
						<button class="btn btn-xs " id="priinfobtn" style="background:none" data-toggle="modal" data-target="#{{schools2[school]['id']}}" >
							{{ school }}
						</button>
						<div class="modal fade" id="{{schools2[school]['id']}}" tabindex="-1" role="dialog" aria-labelledby="Label2" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											&times;
										</button>
										<h4 class="modal-title" id="Label2">
											{{school}} 
										</h4>
									</div>
									<div class="modal-body">
										<table class="table table-hover">
										<tbody>
										<tr>
										  <td><strong>Schooling</strong></td>
										  <td>{{schools2[school]['schooling']}}</td>
										</tr>
										<tr>
										  <td><strong>Address</strong></td>
										  <td>{{schools2[school]['street']}},{{schools2[school]['suburb']}},NSW,{{schools2[school]['postcode']}}</td>
										</tr>
										{% if schools2[school]['sector'] %}
										<tr>
										  <td><strong>Sector</strong></td>
										  <td>{{schools2[school]['sector']}}</td>
										</tr>
										{% endif %}
										{% if schools2[school]['school website'] %}
										<tr>
										  <td><strong>Website</strong></td>
										  <td>{{schools2[school]['school website']}}</td>
										</tr>
										<tr>
										  <td><strong>Website</strong></td>
										  <td>{{schools2[school]['school website']}}</td>
										</tr>
										{% endif %}
										
									  </tbody>
									</table>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close
									</button>
								</div>
							</div>
						</div>
						</td>
						<td>{{ schools2[school]['school gender'] }}</td>
						<td>{{ schools2[school]['street'] }}</td>
						<td> - </td>
						<td> - </td>
					</tr>
					{% endfor %}
				{% endif %}
			</table>
		</div>

		<div class="col-md-5 pull-right" id="map_markers_div" style="width: 400px; height: 400px"></div>
	</div>

{% endblock private %}

{% block public %}
	<h3>Private School Only </h3>
{%endblock%}
